@import url("../Global/globalHeaderMenu.css");
section {
    width: 100%;
    height: 90vh;
}

.fstimg,
.lstimg {
    width: 100px
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 90%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.Assiscard {
    width: 100%;
    height: 100%;
    display: flex;
    border-right: 1px solid black;
}

.sexstyle {
    display: flex;
}

.sexstyle li {
    list-style: none;
    margin-right: 1vw;
}

.Sex {
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly
}

.formAssis {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userform li {
    list-style: none;
}

.userform {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputs {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.li1,
.li2,
.li3 {
    display: flex;
    height: 0%;
    margin-top: 20px
}

input[type="text"] {
    display: flex;
    border: none;
    width: 30%;
    height: 1em;
    border-bottom: 1.5px solid black;
    justify-content: flex-start;
    background-color: transparent;
}

.foto {
    width: 100px
}

.outros {
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.outros img {
    width: 13px;
    cursor: pointer;
}

.outros p {
    margin-right: 5px;
}

.familia {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.Famcard {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.famform {
    width: 99%;
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

input[type="text"] {
    margin-right: 1em
}

.acompanhamento {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: space-between;
    align-items: center;
}

.acompanhamento ul {
    width: 100%;
    justify-content: space-evenly;
}

.aclist ul {
    width: 100%;
    display: flex;
    list-style: none;
}

.aclist input[type="text"] {
    width: 50%;
}

.aclist {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.acocontent {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-self: center;
}

.pscoativos {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center
}

.listadrogas {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.listadrogas ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}

.saude {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center
}

.listadoencas {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.listadoencas ul {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}

.listadoencas input[type="text"] {
    width: 50%;
}

.btn {
    width: 10vw;
    height: 5vh;
    border: none;
    cursor: pointer;
    background-color: transparent;
    font: 1.2em sans-serif;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.btn:hover {
    background-color: #166B8A;
    box-shadow: none;
    transition: all 0.25s;
    padding: 0 0px 0px 7px;
}

@media (max-width: 1024px) and (max-height: 1368px) {
    .userform {
        display: flex;
        align-items: center;
        text-align: center;
    }
    .card {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .foto {
        width: 50px;
    }
    .Assiscard {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .inputs {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
    }
}

@media (max-width: 500px) and (max-width: 1000px) {
    .container {
        width: 100%;
        height: 100%;
    }
    .card {
        width: 100%;
        height: 100%;
    }
    .Assiscard {
        width: 100%;
        height: 40%;
    }
    header {
        width: 100%;
    }
    .famform {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .inputs {
        height: 50%;
    }
    .Famcard {
        height: 100%
    }
}